[project]
name = "audio-infra"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "pillow>=12.0.0",
    "pyrender>=0.1.45",
    "trimesh>=4.10.1",
]
